{% block h2 %} test form {% endblock h2 %}

    {% for f in farrier %}
    <li> {{f.name}} {{f.email}} {{f.phone_number}}</li>
    <li><a href='.  {{f.name}}.html'>{{f.name}}</a></li>
    {% endfor %}
   <form action="." name="farrier" method="POST" >
        {% csrf_token %}
       <label>
            <div>name</div> <input type="text" name="name" id="name" value="{{name}}">
           <div>email</div> <input type="email" name="email" id="email" value="{{email}}">
           <div>phone number</div><input type="tel" name="phone_number" id="phone_number" value="{{phone_number}}">
        </label>

      <input type="submit" value="Submit">


     </form>

