{% block h2 %} test vets {% endblock h2 %}

    {% for v in veterinarian %}
    <li> {{v.all}} </li>
    {% endfor %}
   <form action="." name="veterinarian" method="POST" >
        {% csrf_token %}
       <label>
            <div>name</div> <input type="text" name="name" id="name" value="{{name}}">

           <div>email</div> <input type="email" name="email" id="email" value="{{email}}">
           <div>phone number</div><input type="tel" name="phone_number" id="phone_number" value="{{phone_number}}">
        </label>

      <input type="submit" value="Submit">


     </form>
